<div ng-controller="AccountsController">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-10 col-md-offset-9 col-md-3">
            <input class="form-control" autocomplete="on" ng-model="searchTextMyMovies" placeholder="Search">
        </div>
    </div>
    <br/>
    <div class="list-group" ng-repeat="account in accounts | filter: searchTextMyMovies">
        <div class="list-group-item list-group-item-info row">
            <div class="col-xs-2 col-md-2 col-sm-2">
                <img ng-src="{{ account.imageUrl}}" width="70" height="70" class="img-responsive">
            </div>
            <div class="col-xs-2 col-sm-3 col-md-3">{{account.firstName}} {{account.lastName}}</div>
            <div class="col-xs-8 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-3">
                <button type="button" class="btn btn-sm btn-primary" ng-click="selectUser(account)">View Profile</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="location.href = '#/friends'">Add to friends</button>
            </div>
        </div>
    </div>
</div>
