<div ng-controller="AddMovieController">
    <div>

        <div class="list-group-item list-group-item-warning col-md-offset-2 col-md-8">

            <div class="row">
                <img src="img/twety.jpg" width="90" class="img-responsive col-xs-offset-4 col-xs-4">
            </div>
            <br />
            <div class="form-group">
                <label for="usr" class="control-label">Email:</label>
                <input type="text" class="form-control" id="usr">
            </div>

            <div class="form-group">
                <label for="first-name" class="control-label">First name:</label>
                <input type="text" id="first-name" class="form-control">
            </div>
            <div class="form-group">
                <label for="last-name" class="control-label">Last name:</label>
                <input type="text" id="last-name" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="password" class="control-label">Password:</label>
                <input type="password" id="password" class="form-control">
            </div>

            <div class="form-group">
                <label for="confirm-password" class="control-label">Confirm password:</label>
                <input type="password" id="confirm-password" class="form-control">
            </div>
            <div class="">
                <button type="button" class="btn btn-warning">Add picture</button>
                <button type="button" onclick="location.href = '#/mymovies'" class="btn btn-warning">Save profile</button>
            </div>
        </div>
    </div>
</div>
